<h1 class="title">Willkommen Team {{team ? team.name : '[lädt...]'}}, Viel Erfolg!</h1>
<div class="box">
  <h2 class="subtitle">Teammitglieder</h2>
  <p>{{team ? team.partner1 : 'lädt...'}}</p>
  <p>{{team ? team.partner2 : 'lädt...'}}</p>
</div>
<div class="box">
  <h2 class="subtitle">Spiele gewonnen:</h2>
  <h2>{{points == -1 ? 'lädt...' : gamesWon}}</h2>
</div>
<div class="box">
  <h2 class="subtitle">Spiele verloren:</h2>
  <h2>{{points == -1 ? 'lädt...' : gamesLost}}</h2>
</div>
<div class="box">
  <h2 class="subtitle" style="font-weight: bold">Punkte:</h2>
  <h2>{{points == -1 ? 'lädt...' : points}}</h2>
</div>
