<h2 class="title">Einstellungen</h2>
<div class="field">

  <label class="label">Teamname</label>
  <div class="control has-icons-left">
    <input class="input {{teamnameInvalid ? 'is-danger' : ''}}" type="text" placeholder="Teamname"
           [(ngModel)]="teamname">
    <span class="icon is-small is-left">
      <i class="fas fa-user-group"></i>
    </span>
  </div>

  <label class="label">Teilnehmer 1</label>
  <div class="control has-icons-left">
    <input class="input {{teammate1Invalid ? 'is-danger' : ''}}" type="text" placeholder="Name" [(ngModel)]="teammate1" [disabled]="true">
    <span class="icon is-small is-left">
      <i class="fas fa-user"></i>
    </span>
  </div>


  <label class="label">Teilnehmer 2</label>
  <div class="control has-icons-left">
    <input class="input {{teammate2Invalid ? 'is-danger' : ''}}" type="text" placeholder="Name" [(ngModel)]="teammate2" [disabled]="true">
    <span class="icon is-small is-left">
      <i class="fas fa-user"></i>
    </span>
  </div>

</div>

<div class="field">
  <div class="control">
    <button class="button is-success is-fullwidth {{isLoading ? 'is-loading' : ''}}" (click)="saveTeam()">Speichern
    </button>
  </div>
</div>

<div class="field">
  <div class="control">
    <button class="button is-danger is-fullwidth" (click)="onLogoutClick()">Logout
    </button>
  </div>
</div>
