<h2 class="subtitle">Team {{team?.name}} hat im Spiel</h2>

<div class="field" style="margin-bottom: 0">
  <div class="control has-icons-left">
    <div class="select is-fullwidth">
      <select [(ngModel)]="selectedGameId" disabled="{{planId !== -1}}">
        <option *ngFor="let g of games" value="{{g.id}}">{{g.name}}</option>
      </select>
      <span class="icon is-small is-left">
        <i class="fas fa-dice"></i>
      </span>
    </div>
  </div>
</div>

<a *ngIf="selectedGameId" style="font-size: small; padding-top: 0" (click)="showDescriptionClick()">Beschreibung anzeigen</a>

<h2 class="subtitle">gegen das Team</h2>

<div class="field">
  <div class="control has-icons-left">
    <div class="select is-fullwidth">
      <select [(ngModel)]="selectedOpponentId" disabled="{{planId !== -1}}">
        <option *ngFor="let t of oponents" value="{{t.id}}">{{t.name}} ({{t.partner1}} & {{t.partner2}})</option>
      </select>
      <span class="icon is-small is-left">
        <i class="fas fa-user-group"></i>
      </span>
    </div>
  </div>
</div>


<div class="field">
  <div class="control has-icons-left">
    <div class="select is-fullwidth">
      <select [(ngModel)]="selectedState">
        <option value="won">Gewonnen</option>
        <option value="lost">Verloren</option>
      </select>
      <span class="icon is-small is-left">
        <i class="fas fa-trophy"></i>
      </span>
    </div>
  </div>
</div>

<button class="button is-primary is-fullwidth {{isLoading ? 'is-loading' : ''}}"
        [disabled]="!selectedGameId || !selectedOpponentId || !selectedState" (click)="onFinishClick()">Speichern
</button>


<div *ngIf="game" class="modal {{showDescription ? 'is-active' : ''}}" style="padding: 20pt">
  <div class="modal-background" (click)="showDescription = false"></div>
  <div class="modal-content box">
    <h1 class="title">{{game!.name}}</h1>
    <span  [innerHTML]="game!.description"></span>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="showDescription = false"></button>
</div>

